.container {
    min-width: 300px;
    background-color: var(--gray-l2-color);
    padding: 15px 80px 15px 25px;
    border-radius: 10px;
    margin: 10px 0 30px 0;
    position: relative;

    .code {
        color: var(--gray-l6-color);
    }

    .copy {
        position: absolute;
        right: 20px;
        top: 14px;
        font-size: 12px;
        background-color: var(--gray-l3-color);
        padding: 2px 6px;
        border-radius: 4px;
        color: var(--gray-l5-color);
        transition: 0.2s;
        opacity: 0.6;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }
}
