@import url("./grid.css");
@import url("./fonts.css");

:root {
  --main-color: #42d7f8;
}
* {
  padding: 0;
  margin: 0;
}

input {
  outline: none;
}

html,
body,
input {
  font-family: "JetBrains Mono";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text {
  fill: #fff;
}

.links {
  stroke: gray;
}
