.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        margin: 0;
        font-size: 3rem;
        color: var(--main-color);
        text-align: center;
    }

    .description {
        font-size: 1.2rem;
        color: var(--gray-l4-color);
        text-align: center;
        margin: 10px 0;
    }

    .search {
        position: relative;
        margin-top: 30px;
        width: calc(100% - 200px);

        @media (max-width: 770px) {
            & {
                width: calc(100% - 100px);
            }
        }

        input {
            display: block;
            margin: auto;
            width: 100%;
            resize: vertical;
            height: 60px;
            border-radius: 30px;
            border: 0;
            background-color: var(--gray-l2-color);
            padding: 0 60px 0 70px;
            font-size: 20px;
            border: 2px solid var(--gray-l2-color);
            transition: all 200ms;

            &::placeholder {
                color: var(--gray-l4-color);
                transition: all 200ms;
            }

            &:hover {
                background-color: var(--gray-l1-color);
                border: 2px solid var(--gray-l3-color);
            }

            &:focus {
                background-color: #fff;
                border: 2px solid var(--main-color);
                color: var(--gray-l6-color);
                &::placeholder {
                    color: var(--main-color);
                }
            }
        }

        svg {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 30px;
            fill: var(--gray-l4-color);
            transition: all 200ms;
        }

        input:focus + svg {
            fill: var(--main-color);
        }
    }

    @media screen and (max-width: 1000px) {
        .searchInput {
            width: 90%;
        }
    }
}
