.container {
    display: flex;
    align-items: center;
    justify-content: center;
    .post {
        width: 250px;
        height: 110px;
        margin: 15px 0;
        border: 2px solid var(--gray-l2-color);
        border-radius: 14px;
        transition: all 200ms;

        @media (max-width: 576px) {
            & {
                width: 90%;
            }
        }

        & > a {
            display: block;
            width: 100%;
            height: 100%;
            padding: 0 30px;
            border-radius: 14px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .title {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 10px;
        }

        .category {
            display: flex;
            color: var(--gray-l4-color);
            fill: var(--gray-l4-color);
            transition: all 200ms;
            font-weight: 500;
            ul {
                list-style-type: none;
                margin-left: 10px;
                margin-top: 2px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
}
