.container {
    position: absolute;
    border: solid 2px var(--gray-l2-color);
    border-radius: 20px;
    background-color: #fff;
    padding-bottom: 2px;

    .row {
        width: 100%;
        display: flex;
        padding: 10px 20px;
        justify-content: space-between;
        align-items: center;

        .group {
            display: flex;
            margin: 5px;
        }
    }

    .radioButton {
        display: flex;
    }

    .line {
        width: 60%;
        height: 1px;
        background-color: var(--gray-l2-color);
        margin: auto;
    }
}
